<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">

    <div class="top-bar">
        <div class="inner top-bar-inner">
            <a class="top-link" href="#">고객센터</a>

            <div id="top-guest" class="top-auth">
                <a class="top-link" th:href="@{/login}">로그인</a>
                <a class="top-link" th:href="@{/signup}">회원가입</a>
            </div>

            <div id="top-user" class="top-auth" style="display:none;">
                <span class="top-link" id="top-nickname"></span>

                <!-- 찜 목록 -->
                <a class="top-link"
                   href="/me/likes">
                    찜목록
                </a>

                <a class="top-link" href="#" id="logoutBtn">로그아웃</a>
            </div>
        </div>
    </div>

    <header>
        <div class="inner header-inner">
            <div class="header-left">
                <div class="logo">
                    SH<span>OP</span>
                </div>
                <a class="home-link" th:href="@{/}">HOME</a>
            </div>

            <div class="header-search">
                <form class="search-box" action="/search" method="get">
                    <input class="search-input"
                           type="text"
                           name="q"
                           th:value="${q}"
                           placeholder="상품명, 브랜드명 등을 검색해보세요">
                    <button type="submit" class="search-icon" aria-label="search">🔍</button>
                </form>
            </div>

        </div>
    </header>
</div>
</body>
</html>
