<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav" class="gnb">
    <div class="inner gnb-inner">
        <div class="gnb-item">NEW</div>
        <div class="gnb-item">MEN</div>
        <div class="gnb-item">WOMEN</div>
        <div class="gnb-item">KIDS</div>
        <div class="gnb-item">스니커즈</div>
        <div class="gnb-item">의류</div>
        <div class="gnb-item">패션잡화</div>
        <div class="gnb-item">라이프</div>
    </div>
</nav>
</body>
</html>