<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SHOP | 홈</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/base/reset.css}">
    <link rel="stylesheet" th:href="@{/css/base/common.css}">
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}">
    <link rel="stylesheet" th:href="@{/css/pages/home.css}"></head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/nav :: nav"></div>
<div th:replace="layout/main :: main"></div>
<div th:replace="layout/footer :: footer"></div>

<script th:src="@{/js/layout/header.js}"></script>
</body>
</html>